<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% include ./partials/header %>
    <title>User</title>
</head>

<body>
    <div class="container">
        <h1>View and Update News</h1>
        <br>
      
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">News</th>
                </tr>
            </thead>
            <tbody>
                <% for (const blog of blogs) { %>
                <tr>
                    <td>
                        <img src="/public/images/<%=blog.image %>" height="50" width="50">
                    </td>
                    <td>
                        <%= blog.title %>
                    </td>
                    
                    <td>
                        <%= blog.news %><br>
                    <form action ="/comment" method ="POST" >
                        <div class="form-group">
                                <label for="addComment">Add comment</label>
                                <input type="text" class="form-control" name="comments" id="comments" 
                                 placeholder="Enter your comment">  
                            </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                   
                    </td>

                    

                    <td>
                        <a href="/update?_id=<%= blog._id %>" class="btn btn-primary" role="button">UPDATE</a>
                    </td>

                   
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <% include ./partials/scripts %>
</body>

</html>